<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @survey.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
