<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Polly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to 'Users', users_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= render 'layouts/messages' %>
    <div class='container'>
         <%= yield %>
    </div>
  </body>
</html>
