<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Polly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class=''>
  <nav>
    <div class="nav-wrapper indigo darken-1">
     <div class="brand-logo"><%= link_to '<i class="material-icons icon-orange">poll</i>'.html_safe, root_path%></div>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to '<i class="material-icons icon-orange">view_list</i>'.html_safe, questions_path%></li>
          <li><%= link_to '<i class="material-icons icon-orange">edit</i>'.html_safe, edit_user_registration_path%></li>
          <li><%= link_to '<i class="material-icons icon-orange">exit_to_app</i>'.html_safe, destroy_user_session_path, :method=>'delete', class: 'signout'%></li>
        <%else%>
          <li><%= link_to '<i class="material-icons icon-orange">person_outline</i>'.html_safe, new_user_session_path%></li>
          <li><%= link_to '<i class="material-icons icon-orange">person_add</i>'.html_safe, new_user_registration_path%></li>
        <% end %>
      </ul>
    </div>
  </nav>

    <%= render 'layouts/messages' %>
    <div class='container'>
         <%= yield %>
    </div>
  </body>
</html>
